@import url('https://fonts.googleapis.com/css?family=Germania+One');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Germania+One');
h1,h2,h4{
    font-family: 'Germania One', cursive;
}

#excerpt{
    font-family: 'Germania One', cursive;
    font-family: 'Dancing Script', cursive;  
    color: palevioletred;
}
*{
    margin-left: 15px;
}